Link: https://tomaugspurger.github.io/method-chaining <br>
        Conteudo: Pipe (...Completar)

In [1]:
import pandas as pd

In [5]:
eventos = pd.read_pickle('../Data/ecommerce-events.pkl')

# Pipe:
Simplificando a limpeza inicial do df

In [118]:
# Simulando problema 1, quanto foi arrecadado:

#Primeiro, vamos por partes, e depois enfia tudo num pipe
receita = (eventos.loc[eventos['eventType'] == 'transaction', ['orderItems']]
           .reset_index()
           .drop(['index'], axis=1)
           .loc[:, 'orderItems']
           .tolist()
           
           
#            .apply(lambda x: pd.DataFrame(x))
           
           
           #Nesse ponto, como eu referencio soh uma das colunas?
           
#           .apply(pd.DataFrame(pd.Series)
#           .tolist()
#           .apply(pd.DataFrame)
          )
receita.head()
# type(receita)

SyntaxError: invalid syntax (<ipython-input-118-2c384a370624>, line 9)

In [74]:
print(type(receita))
# print(type(receita[0]))
# print(type(receita[0][0]))

<class 'pandas.core.frame.DataFrame'>

## Péssimo metodo numero 1:
Usando Construtores e List

In [98]:
receita = (eventos.loc[eventos['eventType'] == 'transaction', ['orderItems']]
           .reset_index()
           .drop(['index'], axis=1))
receita.head()

                                          orderItems
0  [{'product': 6461, 'price': 467.91, 'quantity'...
1  [{'product': 19168, 'price': 30.27, 'quantity'...
2  [{'product': 18143, 'price': 30.87, 'quantity'...
3  [{'product': 19925, 'price': 59.67, 'quantity'...
4  [{'product': 38, 'price': 129.9, 'quantity': 1...

In [101]:
#Porque, Deus?
teste = pd.DataFrame([receita['orderItems']])
teste.head()

,0,1,2,3,4,5,6,7,8,9,...,544,545,546,547,548,549,550,551,552,553
orderItems,"[{'product': 6461, 'price': 467.91, 'quantity'...","[{'product': 19168, 'price': 30.27, 'quantity'...","[{'product': 18143, 'price': 30.87, 'quantity'...","[{'product': 19925, 'price': 59.67, 'quantity'...","[{'product': 38, 'price': 129.9, 'quantity': 1...","[{'product': 19624, 'price': 44.9, 'quantity':...","[{'product': 20319, 'price': 53.01, 'quantity'...","[{'product': 38, 'price': 129.9, 'quantity': 1...","[{'product': 6932, 'price': 18.81, 'quantity':...","[{'product': 12841, 'price': 23.95, 'quantity'...",...,"[{'product': 2085, 'price': 52.44, 'quantity':...","[{'product': 10174, 'price': 22.96, 'quantity'...","[{'product': 861, 'price': 29.9, 'quantity': 1...","[{'product': 4896, 'price': 247.89, 'quantity'...","[{'product': 19665, 'price': 36.89, 'quantity'...","[{'product': 14034, 'price': 12.51, 'quantity'...","[{'product': 9689, 'price': 209.61, 'quantity'...","[{'product': 12841, 'price': 23.95, 'quantity'...","[{'product': 20244, 'price': 9.9, 'quantity': ...","[{'product': 17961, 'price': 59.9, 'quantity':..."

In [100]:
teste = pd.DataFrame(receita['orderItems'].tolist())
teste.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,"{'product': 6461, 'price': 467.91, 'quantity':...",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,"{'product': 19168, 'price': 30.27, 'quantity':...",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,"{'product': 18143, 'price': 30.87, 'quantity':...",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,"{'product': 19925, 'price': 59.67, 'quantity':...",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,"{'product': 38, 'price': 129.9, 'quantity': 1.0}",None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [85]:
teste = teste.melt().drop(['variable'], axis=1)
print(type(teste))
teste.shape

<class 'pandas.core.frame.DataFrame'>

(8864, 1)

In [86]:
type(teste.loc[8859, 'value'])

NoneType

In [87]:
teste.dropna().shape

(1016, 1)

In [61]:
teste = teste.dropna()
teste.head()

    price  product  quantity
0  467.91     6461       2.0
1   30.27    19168      10.0
2   30.87    18143      22.0
3   59.67    19925       2.0
4  129.90       38       1.0

In [58]:
teste = pd.DataFrame(teste['value'].tolist())

In [60]:
teste.head()

    price  product  quantity
0  467.91     6461       2.0
1   30.27    19168      10.0
2   30.87    18143      22.0
3   59.67    19925       2.0
4  129.90       38       1.0

In [65]:
total = (teste['price'] * teste['quantity']).sum()
total

212022.27000000002